 <h1><%= @wiki.title %></h1>
 <p><%= markdown(@wiki.body) %></p>
 
 
 <%= link_to "Edit this wiki", edit_wiki_path(@wiki), class: 'btn1' %>
 <%= link_to "Delete this wiki", @wiki, method: :delete, class: 'btn1', data: {confirm: 'Are you sure you want to delete this wiki?'} %>